@import url("reset.css");
*{
    box-sizing: border-box;
}

body{
    
    background-color: #121212;
    text-decoration: none;
    font-size: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration:none;
}

li, p{
    font-size: 16px;
}

h3{
    font-size: 16px;
}


.wrapper {
	width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-family: exo,helvetica neue,helvetica,arial,serif!important;
    
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .wrapper{
        width: 960px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .wrapper{
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .wrapper{
        width: 540px;
    }
}   

@media screen and (max-width: 576px){
    .wrapper{
        width: 100%;
    }
}

/* ===============LOGO BAR SECTION=============== */

.logoBar{
    overflow: hidden;
    height: 87px;
    background-color:white
}
.logo {
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}

.logo img{
    width: 70px;
    height: 70px;
}

.logoBarRight {
    float: right;
    
    overflow: hidden;
    /* padding-right: 150px; */
    padding-top: 30px;
}


.logoBarRight li{
    padding-right: 20px;
    display: inline-block;
    text-decoration:none;
    
}
.logoBarRight li a {
    color:black;
    
}

.logoBarRight button{
    background-color: #f56600; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.logoBarRight .phoneVersion{
    display: none;
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .logoBar{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .nav{
        position: relative;
        z-index: 1;
    }

    .logoBarRight{
        position: absolute;
        width: 180px;
        padding-right: 0;
        left: 75%;
    }
    .logoBarRight ul{
        width:180px;
    }

    .logoBarRight li{
        padding-right: 20px;
        display: inline-block;
        text-decoration:none;
    }
    .logoBarRight .nVersion{
        display: none;
    }

    .logoBarRight .phoneVersion{
        display: inline-block;
    }

    .logo {
        padding-top: 10px;
        padding-left: 30px;
    }

    .fas, .far{
        /* color: white; */
        font-size: 25px;
    }

    .logoBarRight button{
        background-color: white;
        border: none;
        color: #121212;
        font-weight: bold;
        padding: 0 ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }
}  


/* 行動版時，調整列表樣式 */
@media screen and (max-width: 576px){

    .logoBar{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .nav{
        position: relative;
        z-index: 1;
    }

    
    .logoBarRight{
        position: absolute;
        width: 180px;
        padding-right: 0;
        left: 67%;
        /* float: right; */
    }
    .logoBarRight ul{
        width:180px;
    }

    .logoBarRight li{
        padding-right: 20px;
        display: inline-block;
        text-decoration:none;
    }
    .logoBarRight .nVersion{
        display: none;
    }

    .logoBarRight .phoneVersion{
        display: inline-block;
    }

    .logo {
        padding-top: 10px;
        padding-left: 50px;
    }

    .fas, .far{
        /* color: white; */
        font-size: 25px;
    }

    /* .far{
        color: white;
        font-size: 25px;
    } */

    .logoBarRight button{
        background-color: white;
        border: none;
        color: #121212;
        font-weight: bold;
        padding: 0 ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }

}



/* ===============NAV BAR SECTION=============== */


.navbar{
    background-color: #f56600;
    text-align: center;
    height: 45px;
}

.navbar ul{
    padding-top: 15px;
    display: inline-block;
    background-color: #f56600;
}

.navbar li{ 
    display: inline-block;
    padding-right: 30px;
    
}

.navbar li a{
    color:white;
    font-size: 15px;
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar{
        display: block !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar{
        width: 100%;
        display: block !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .navbar{
        width: 100%;
        display: none;
    }
    .navbar ul{
        width: 100%;
    }

    .navbar li{
        display: block;
        padding-right: 0;
        line-height:2;
    }
}   

/* 行動版時，調整列表樣式 */
@media screen and (max-width: 576px){
    .navbar{
        width: 100%;
        display: none;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar li{
        display: block;
        padding-right: 0;
        line-height:2;
    }    
}




/* breadcrumb */

.wrapperr{
    width: 100%;
    margin: 0 auto;
    /* background-color: #121212; */
    
    

}

.banner{
    max-width: 1200px;
    height: 500px;
    
    background-image: url("giftcard/a18-12670_Magento_Product_Images_Website_Banner_1201x502.jpg.pagespeed.ic.Kk0dP7y-Nh.webp");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    position: relative;
    
}

.bannertext{
    /* width: 500px; */
    padding-left: 650px;
    padding-top: 50px;
}


.bannertext h1{
    font-size: 50px;
    width: 500px;
    padding-top: 30px;
    line-height: 60px;
    /* font:"jaf-bernino-sans-comp", sans-serif; */
}

.bannertext p{
    width: 480px;
    padding-top: 30px;
    line-height: 1.3;
}

.phoneBannerText{
    display: none;
}

.bannerbutton1{
    display: inline-block;
    padding-top: 3px;
    padding-left: 10px;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    
    .bannertext{

        /* border: 1px solid red; */
        /* padding-left: 400px; */
        width: 350px;
        position: absolute;
        left: 60%;
        top: 0;
        padding: 0;
        
    }
    .bannertext h1{
        width: 100%;
    }
    .bannertext p{
        width: 100%;
    }
}
@media screen and  (max-width: 991px){
    .bannertext{
        display: none;
    }
    .phoneBannerText{
        display: block;
        padding: 20px;
    }
    .phoneBannerText h2{
        font-weight: bold;
        font-size: 40px;

        /* font:"jaf-bernino-sans-comp", sans-serif; */
    }

    .phoneBannerText p{
        padding-top: 20px;
        line-height: 1.2;

    }
    .bannerButton{
        /* border: 1px solid red; */
        text-align: center;

    }
    .phoneBannerText .bannerbutton1{
        padding-right: 20px;
        display:inline-block
        
    }
   
}



button {
    background-color: #1e78cf; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}


.bannerButton{
    padding-top: 60px;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    
    .bannerButton{
        padding-top: 40px;
    }
}

.ad{
    width: 758px;
    
    margin: 50px auto;
    padding-left: 10px;
    
}

@media screen and (max-width: 991px){
    .ad{
        width: 100%;
        
    }
    
    
}


.ad .first h2{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    /* font-family: jaf-bernino-sans-comp, sans-serif; */
    margin-bottom: 8px;
}

.ad .first h3{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    /* font-family: jaf-bernino-sans-comp, sans-serif; */
    text-align: center;
    margin-bottom: 8px;
}


.ad .first p{
    /* width: 700px; */
    height: 170px;
    margin: 0 auto;
    font-family: inherit;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}


@media screen and (max-width: 991px){
    .ad{
        width: 100%;
    }
    
    
}
.secondimg{
    display: inline-block;
    vertical-align: top;
}

.secondimgN{
    display: none;
}



.secondtext{
    display: inline-block;
    /* width: 478px; */
    padding-left: 28px;
}
@media screen and (max-width: 768px){
    .ad{
        padding: 10px;
    }
    .secondimg{
        display: block;
        
    }
    .secondtext h3{
        padding-left: 150px;
        padding-top: 20px;
    }
    .secondimg{
        padding-left: 150px;
    }
    .secondimgN{
        display: block;
        padding-left: 150px;
    }
    .secondimgP{
        display: none;
    }

    

    
}

.secondtext h3{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    /* font-family: jaf-bernino-sans-comp, sans-serif; */
    margin-bottom: 8px;
   
}

.secondtext p{

    
    width: 400px;
    /* margin: 0 auto; */
    font-family: inherit;
   
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    /* margin-bottom: 1.25rem; */
    text-rendering: optimizeLegibility;

}

.secondtext a{
    font-family: inherit;
    

}

@media screen and (max-width: 768px){
    .secondtext p{
        width: 100%;
        
    }
}

.ad .second{
    
    height: 300px;
}
.ad .third{
    
    height: 300px;
}
@media screen and (max-width: 768px){
    .ad .second{
        height: 400px;
    }
    
}
.cube{
    display: flex;
    flex-shrink: 0;
}

.box{
    width: 400px;
    height: 400px;
    background-color: lightgrey;
    
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    
    .box{
        width: calc((100%)/3);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
    .box{
        width: calc((100%)/3);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
    .box{
        width: calc((100%)/3);
    }
}

@media screen and (max-width: 767px){
   .cube{
       display: block;
   }
   .box{
       width: 100%;
   }
}  
.cube .box .boxitem{
    text-align: center;

}


.cube .box i{
    margin: 0 auto;
    text-align:center;
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.cube .box h3{
    margin-top: 3.2px;
    margin-bottom: 8px;
    font-size: 30px;
    
    margin-bottom: 20px;
}

.cube .box p{
    margin: 0 auto;
    font-family: inherit;
    /* width: 300px; */
   
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;

}

.cube .box a{
    font-size: 16px;
}
@media screen and (max-width: 767px){
    .box{
        border-bottom: 1px solid white;
    }
    .box .boxitem{
        padding: 10px;
    }
}  



.learnmore{
    text-align: center;
    padding-top: 20px;
}


.cube .secondbox{
    border-left:0.5px white solid;
    border-right:0.5px white solid;
}

.footer{
    background-color: #242425;
    color: white;
    padding-top: 30px;
    
}
.footerwapper{

    text-align: center;
    
    
}    
.footerIconWrapper{
    padding-bottom: 10px;
}
.footer .footerIcon{
    display: inline-block;
    width: 97px;
    height: 61px;
    
}

.fa-facebook{
    font-size: 26px;
    padding-bottom: 8px;
}
.fa-twitter{
    font-size: 26px;
    padding-bottom: 8px;
}
.fa-youtube{
    font-size: 26px;
    padding-bottom: 8px;
}

.footerdes p{
    padding-top: 15px;
    width: 518px;
    margin: 0 auto;
    padding-bottom: 50px;
    
}

.policy{
    text-align: center;
    padding: 50px 0;
}