@import url("reset.css");
@import url('rollmovie.css');

*{
    box-sizing: border-box;
  }

body{
    
    background-color: #121212;
    text-decoration: none;
}
a{
    text-decoration:none;
}




.wrapper {
	width: 1200px;
    margin: 0 auto;
    background-color: #121212;
    
    
}
.logoBar{
    overflow: hidden;
    height: 87px;
    background-color:#121212
}
.logo {
    float: left;
    padding-top: 30px;
    padding-left: 150px;
    
}
.logoBarRight {
    float: right;
    /* display: inline; */
    overflow: hidden;
}
.logoBarRight{
    padding-right: 150px;
    padding-top: 30px;

}

.logoBarRight li{
    padding-right: 20px;
    display: inline;
    text-decoration:none;
    
}
.logoBarRight li a {
    color:white;
    
}

.logoBarRight botton{
    background-color: #f56600; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.navbar{
    background-color: #f56600;
    text-align: center;
    height: 45px;
}

.navbar ul{
    padding-top: 15px;
    display: inline-block;
}

.navbar li{ 
    display: inline-block;
    padding-right: 30px;
    
}

.navbar li a{
    color:white;
    font-size: 15px;
}

.banner img{
    width:100%;
    height:390px;
    display:block;
}



/* hot movie */

.hotMovie{
    overflow: hidden;
    background-color: #121212;
    margin: 0 auto;
    
}


.hotMovie h1{
    background-color: #121212;
	text-align: center;
	font-size: 42px;
    color: white;
    font-weight: bold;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 100px;
    
}

.hotMovie ul{
    list-style: none;
    padding-left: 20px;
}
.hotMovie li img{
    max-width: 100%;
}
.hotMovie li{
    width: 190px;
    height: 320px;
    padding-right: 5px;
    /* float: left; */
    display: inline-block;
	/* margin-left: 30px; */
}

.hotMovie h3{
	text-align: center;
    color:white;
    font-weight: bold;
}



/* blog */
.blog{
    overflow: hidden;
    background-color: #121212;
    
}


.blog h1{
    background-color: #121212;
	text-align: center;
	font-size: 42px;
    color: white;
    font-weight: bold;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.blog ul{
    list-style: none;
    padding-left: 20px;
}
.blog li img{
    max-width: 100%;
}
.blog li{
    width: 160px;
    height: 150px;
    padding-right: 5px;
    /* float: left; */
    display: inline-block;
	/* margin-left: 30px; */
}

.blog h3{
	text-align: center;
    color:white;
    font-weight: bold;
}

.blog button{
    background-color: black;
    border: white 1px solid;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}


/* .hotMovie .triangle{
    float: right;
    padding-bottom: 100px;
    clear: both;
    overflow: hidden;
} */

.footer{
    background-color: #121212;
    height: 333px;
    padding-top: 25px;
    margin-top: 50px;
    border-top:1px solid lightgray;
    text-align: center;
    
   }
   
  
   
   .rightpart{
    font-family: 微軟正黑體;
    font-size: 14px;
    display:inline-block;
    vertical-align: top;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
   }
   .leftpart img{
    display: inline-block;
    padding-left: 200px;
    margin-top: 80px;
   }
   .leftpart ul{
    padding-left: 200px;
   
   }
   
   .leftpart li{
    color: white;
    display: inline-block;
    vertical-align: top;
   }
   
   .list{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   
   }
   
   .list1{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   }
   
   .list2{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   }
   
   .ull{
    padding-right: 30px;
    line-height: 20px;
   }

   .footer .rightpart .ull .firstli{
       font-weight: bold;
       padding-bottom: 10px;
   }
   .copyright{
       color:white;
       margin: 0 auto;
       text-align: center;
   }