@import url("reset.css");
*{
    box-sizing: border-box;
  }
body{
    
    background-color: #121212;
    font-family: exo,helvetica neue,helvetica,arial,serif!important;
    font-size: 0;
}
a{
    text-decoration:none;
}

li{
    font-size: 16px;
}

h3{
    font-size: 16px;
}

.wrapper {
	width: 1200px;
    margin: 0 auto;
    background-color: #121212;
    font-family: exo,helvetica neue,helvetica,arial,serif!important;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .wrapper{
        width: 960px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .wrapper{
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .wrapper{
        width: 540px;
    }
}   

@media screen and (max-width: 576px){
    .wrapper{
        width: 100%;
    }
}

/* ===============LOGO BAR SECTION=============== */

.logoBar{
    overflow: hidden;
    height: 87px;
    background-color:#121212
}
.logo {
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}


.logo img{
    width: 70px;
    height: 70px;
}
.logoBarRight {
    float: right;
    overflow: hidden;
    padding-top: 30px;
}


.logoBarRight li{
    padding-right: 20px;
    display: inline-block;
    text-decoration:none;
    
}
.logoBarRight li a {
    color:white;
}

.logoBarRight button{
    background-color: #f56600; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.logoBarRight .phoneVersion{
    display: none;
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .logoBar{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .nav{
        position: relative;
        z-index: 1;
    }

    .logoBarRight{
        position: absolute;
        width: 180px;
        padding-right: 0;
        left: 75%;
    }
    .logoBarRight ul{
        width:180px;
    }

    .logoBarRight li{
        padding-right: 20px;
        display: inline-block;
        text-decoration:none;
    }
    .logoBarRight .nVersion{
        display: none;
    }

    .logoBarRight .phoneVersion{
        display: inline-block;
    }

    .logo {
        padding-top: 10px;
        padding-left: 30px;
    }

    .fas, .far{
        color: white;
        font-size: 25px;
    }

    .far{
        
        
    }

    .logoBarRight button{
        background-color: #121212;
        border: none;
        color: #121212;
        font-weight: bold;
        padding: 0 ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        
    }
}  


/* 行動版時，調整列表樣式 */
@media screen and (max-width: 576px){

    .logoBar{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .nav{
        position: relative;
        z-index: 1;
    }

    
    .logoBarRight{
        position: absolute;
        width: 180px;
        padding-right: 0;
        left: 67%;
        /* float: right; */
    }
    .logoBarRight ul{
        width:180px;
    }

    .logoBarRight li{
        padding-right: 20px;
        display: inline-block;
        text-decoration:none;
    }
    .logoBarRight .nVersion{
        display: none;
    }

    .logoBarRight .phoneVersion{
        display: inline-block;
    }

    .logo {
        padding-top: 10px;
        padding-left: 50px;
    }

    .fas, .far{
        color: white;
        font-size: 25px;
    }
    .far{
        background-color: #f56600 ;
    }

    .logoBarRight button{
        background-color: #121212;
        border: none;
        color: #121212;
        font-weight: bold;
        padding: 0 ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }

}


/* ===============NAV BAR SECTION=============== */


.navbar{
    background-color: #f56600;
    text-align: center;
    height: 45px;
}

.navbar ul{
    padding-top: 15px;
    display: inline-block;
    background-color: #f56600;
}

.navbar li{ 
    display: inline-block;
    padding-right: 30px;
    
}

.navbar li a{
    color:white;
    font-size: 15px;
}



@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar{
        display: block !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar{
        width: 100%;
        display: block !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .navbar{
        width: 100%;
        display: none;
    }
    .navbar ul{
        width: 100%;
    }

    .navbar li{
        display: block;
        padding-right: 0;
        line-height:2;
    }
}   

/* 行動版時，調整列表樣式 */
@media screen and (max-width: 576px){
    .navbar{
        width: 100%;
        display: none;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar li{
        display: block;
        padding-right: 0;
        line-height:2;
    }    
}



.trail h1{
    background-color: #121212;
    font-weight: bold;
    color: white;
    font-size: 42px;
    font-family: exo,helvetica neue,helvetica,arial,serif!important;
    line-height: 36px;
    padding-top: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width:767px){
    .trail h1{
        text-align: center;
        font-size: 38px;
    }
}

div.view{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    padding-top: calc(100% * 9 /16);
}

div.view iframe{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* .rowInfo{
    width:600px;
} */

.more h1{
    color: white;
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 50px;
    padding-top: 20px;
}

@media screen and (max-width:767px){
    .more h1{
        padding-top: 50px;
        text-align: center;
        font-size: 38px;
    }
}


.info{
    
    width: 600px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: white;
}

@media screen and (max-width:767px){
    .info{
        width: 100%;
    }
}



.info h4{
    font-size: 30px;
    
}

div.info div.text p.twenty{
    /* border: 1px solid yellow; */
    padding-top: 10px;
}

.moviePic{
    width: 250px;
    
    display: inline-block;
    vertical-align: top;
    padding-left: 300px;
    /* border: 1px solid red ; */
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .moviePic{
        width: 250px;
        padding-left: 30px;
        display: inline-block;
        vertical-align: top;
       
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .info{
        width: 400px;
    }
    .moviePic{
        width: 250px;
        padding-left: 0;
        display: inline-block;
        vertical-align: top;
        
    }
}

@media screen and (max-width:767px){
    .moviePic{
        width: 250px;
        padding-left: 100px;
        display: inline-block;
        vertical-align: top;
        
    }
    .info{
        padding: 20px;
        width: 500px;
        
        
    }
}

.info h1{
    font-size:42px;
    padding-bottom: 15px;
    width: 500px;
    
}

.date{
    display: inline-block;
    padding-right: 100px;
}

@media screen and (max-width:767px){
    .date{
        padding-bottom: 15px;
    }
}




.time{
    
    display: inline-block;
    
}


img{
    width: 300px;
    height: 451px;
}



.twenty{
    font-size:20px;
    
}
dt{
    float: left;
    display: block;
    overflow: hidden;
    width:160px;
    height: 40px;

    
}
dd{
    height: 40px;

}

.description{
    position: absolute;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 25px;
    /* border: 1px solid green; */
    
    
}

.description p{
    position: absolute;
    font-size: 18px;
    line-height: 1.2;
    max-width: 100%;
}





/* footer */

.footer{
    background-color: #121212;
    height: 333px;
    padding-top: 25px;
    margin-top: 50px;
    border-top:1px solid lightgray;
    text-align: center;
    
   }
   
  
   
   .rightpart{
    font-size: 14px;
    display:inline-block;
    vertical-align: top;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
   }
   .leftpart img{
    display: inline-block;
    padding-left: 200px;
    margin-top: 80px;
   }
   .leftpart ul{
    padding-left: 200px;
   
   }
   
   .leftpart li{
    color: white;
    display: inline-block;
    vertical-align: top;
   }
   
   .list{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   
   }
   
   .list1{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   }
   
   .list2{
    display: inline-block;
    vertical-align: top;
    width: 220px;
   }
   
   .ull{
    padding-right: 30px;
    padding-bottom: 40px;
    line-height: 20px;
    text-align: left;
   }

   .footer .rightpart .ull .firstli{
       font-weight: bold;
       padding-bottom: 10px;
   }
   .copyright{
       color:white;
       margin: 0 auto;
       text-align: center;
       padding-top: 10px;
   }



